#app-container {
  width: 240px;
  height: 470px;
}

.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  height: 53px;
}

.main {
  padding: 0 calc(6px + 2vmin);
}

/* tooltip animation */
.open-tooltip {
  animation: openAnimation .25s;
}
@keyframes openAnimation {
  0% {
    margin-top: -50px;
  }
  100% {
    margin-top: 0px;
  }
}
.tooltip-text {
  padding: 10px 20px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#sort-btn {
  margin-right: 12px;
  background: #FFFFFF;
  border: 1px solid #DFE1E4;
}
#sort-btn:hover {
  opacity:.75;
}
#sort-btn:active {
  transform: scale(0.97); 
}
#sort-img {
  width: 17px;
  height: 14px;
}
.reverse {
  transform: scaleY(-1);
}

#add-btn {
  background: #086DD6;
  border: 1px solid #086DD6;
}
#add-btn:disabled {
  background: #DFE1E4;
  border: 1px solid #DFE1E4;
}
#add-btn:hover#add-btn:enabled {
  opacity:.75;
}
#add-btn:active#add-btn:enabled {
  transform: scale(0.97); 
}
#add-img {
  width: 20px;
  height: 20px;
}

#app-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}