.app-container {
  width: 240px;
  height: 470px;
}
.tooltip-text {
  padding: 10px 20px;
}

.app-header {
  /* background-color: #FFFFFF; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  padding: 0 calc(6px + 2vmin);
  height: 53px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sort-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-right: 12px;
  background: #FFFFFF;
  border: 1px solid #DFE1E4;
  box-sizing: border-box;
  border-radius: 100px;
}
.sort-btn:hover {
  opacity:.75;
}
.sort-img {
  width: 17px;
  height: 14px;
}
.reverse {
  transform: scaleY(-1);
}
.add-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: #086DD6;
  border: 1px solid #086DD6;
  border-radius: 100px;
  box-sizing: border-box;
}
.add-btn:hover {
  opacity:.75;
}
.add-img {
  width: 20px;
  height: 20px;
}

.app-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}